<div class="header">
    <div class="row">
        <div class="col-12 col-md-3">
            <a class="logo">
                <img src="../../../assets/img/logo-icon.svg" alt="logo">
                <span class="pl-2">Woodgrove</span>
            </a>
            <a class="menu-btn" (click)="toggleMenu()">
                <img src="../../../assets/img/menu-icon.svg" alt="menu">
            </a>
        </div>
        <div class="col-12 col-md-9">
            <div class="d-none d-md-block">
                <div class="row">
                    <div class="col-6">
                        <p class="page-name pl-3">
                            <img src="../../../assets/img/dashboard.svg" alt="icon">
                            <span class="pl-2">Dashboard</span>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="text-right user-details">
                            <span>Archie Andrews Rol:90</span>
                            <a>
                                <img src="../../../assets/img/chevron-down.svg" alt="arrow">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>